#attempts{
	background-color: blue;
}
.is-prime{
	color: #00E676;
}
.not-prime{
	color: #FF3D00;
}
body{
	background-color: yellow
}
h1{
	color: purple;
}
p{
	color: magenta;
}
ol{
	background-color: orange;
}

footer{
	 font-family: "Times New Roman", Times, serif;
	  font-style: italic;

}
form{
	background-color: turquoise;
}
li{
	background-color:blue;
}

